/* fonts */
/* 
font-family: 'Open Sans'; 
font-weight: 700;  
font-weight: 600;           body  nav button title
font-weight: 400;           text top

font-family: 'Raleway';
font-weight: 700;           hero-title title 
*/

:root {
  --title-very-dark: #303030;
  --title-white: #ffffff;
  --text-white: #ffffff;
  --text-grey: #9da4bd;
  --text-grey-alfa: rgba(157, 164, 189, 0.6);
  --text-dark-grey: #555555;
  --text-very-dark: #303030;
  --text-button-dark: #303030;
  --text-button-white: #ffffff;
  --accent: #ff6c00;
  --background-white: #ffffff;
  --background-grey: #f7f7f7;
  --background-dark-grey: #191c26;
  --background-deep-blue: #111319;
  --font-main: 'Open Sans', sans-serif;
  --font-decor: 'Raleway', Segoe UI, sans-serif;
  --margin: 20px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
}

body {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-dark-grey);
}
.container {
  width: 1200px;
  padding: 0 15px;
  /* margin: 0 auto; */
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid teal; */
}
.section {
  padding: 130px 0px;
}

.list {
  list-style: none;
}
.link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: solid var(--accent);
  border-radius: 25px;
  padding: 11px 20px;
}
.button:hover,
.button:focus {
  background-color: var(--accent);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ____________________________________Header__________________________________ */
/* .header {
} */
.menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 145px;
}
.auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}
/* .nav {

} */
.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 25px;
}
.nav-item {
  padding: 48px 0px;
}
.logo {
  margin-top: 30px;
}
.nav-link {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--text-white);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}
.phone {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--text-white);
  margin-right: 40px;
}
.phone:hover,
.phone:focus {
  color: var(--accent);
}
.record-button {
  color: var(--background-white);
}
.social {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border: 1px solid var(--text-grey);
}
.social-list {
  margin-top: auto;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
}
.social-item {
  display: inline-block;
  padding: 30px 0px;
  transform: rotate(-90deg);
}
.social-item:not(:last-child) {
  margin-top: 40px;
}

.social-link {
  display: block;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--title-very-dark);
}
.social-link:hover,
.social-link:focus {
  color: var(--accent);
}
/* ____________________________________Hero__________________________________ */
.header-page {
  display: flex;
}
/* .header {
} */
.hero {
  padding-left: 90px;
  width: 525px;
}
.hero-page {
  width: 1073px;
  height: 680px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider-03.jpg);
  background-repeat: no-repeat;
  box-sizing: contain;
}
.social {
  flex-grow: 1;
  background-color: var(--background-white);
}

.hero-top-text {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-grey-alfa);
  margin-bottom: var(--margin);
}
.hero-title {
  font-family: var(--font-decor);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--title-white);
  margin-bottom: var(--margin);
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}

/* ____________________________________About us__________________________________ */
.about {
  background-color: var(--background-white);
}
.about-box {
  display: flex;
}
.abour-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-item {
  display: block;
}
.about-description {
  padding-left: 64px;
  padding-right: 70px;
}
.about-top-text {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-very-dark);
  margin-bottom: var(--margin);
}
.about-title {
  font-family: var(--font-decor);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-very-dark);
  margin-bottom: var(--margin);
}
.about-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-grey);
  margin-bottom: var(--margin);
}
.about-coment {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--text-dark-grey);
  margin-bottom: 35px;
}
.about-button {
  color: var(--title-very-dark);
}
/* ____________________________________Price__________________________________ */
.price {
  max-width: 1280px;
  height: 718px;
  background-color: var(--background-dark-grey);
  background-image: url(../images/background-price.png);
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}
.price-top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-grey-alfa);
  margin-bottom: var(--margin);
}
.price-title {
  font-family: var(--font-decor);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-white);
  margin-bottom: 44px;
}

.price-bloks {
  display: flex;
  margin-bottom: 50px;
}
.price-list {
  flex-grow: 1;
  /* border: 1px dotted grey; */
  padding: 30px 40px;
}
.price-list:nth-child(odd) {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list:nth-child(even) {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin);
}

.price-item:last-child {
  margin-bottom: 0;
}
.price-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}
.record-button {
  color: var(--text-button-white);
  margin-right: auto;
  margin-left: auto;
  display: block;
}
/* ____________________________________Benefits__________________________________ */
.benefits {
  background-color: var(--background-white);
}
.benefits-box {
  display: flex;
}

.benefits-description {
  width: 50%;
  margin-left: 30px;
  margin-top: 10px;
  padding-right: 80px;
}

.benefits-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 35px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  /* outline: 1px dotted grey; */
  background-color: var(--background-grey);
}
.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--title-very-dark);
  display: block;
  margin-bottom: 6px;
}
.plus {
  font-size: 16px;
  line-height: 1.37;
  /* text-align: center; */
  color: var(--accent);
}
.benefits-item-text {
  font-size: 11px;
  line-height: 1.37;
  text-align: center;
  color: var(--text-very-dark);
}
.benefits-top-text {
  font-size: 11px;
  line-height: 1.37;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-very-dark);
  margin-bottom: var(--margin);
}
.benefits-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-very-dark);
  margin-bottom: var(--margin);
}
.benefits-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-dark-grey);
}
/* ____________________________________Masters__________________________________ */
.masters {
  background-color: var(--background-grey);
}
.masters-top-text {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-very-dark);
  margin-bottom: var(--margin);
}
.masters-title {
  font-family: var(--font-decor);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-very-dark);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.masters-item {
  margin-left: 30px;
  margin-top: 30px;
  /* outline: 1px dotted grey; */
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-very-dark);
  margin-bottom: 8px;
}

.masters-thumb {
  margin-bottom: 30px;
}
.masters-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent);
}

/* Social-icons_____________________________ */
.social-icon-list {
  display: flex;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-white);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.circle:hover,
.circle:focus {
  background-color: #fff;
}

.circle:hover .social-icon,
.circle:focus .social-icon {
  fill: var(--accent);
}
.circle > a {
  height: 20px;
}
.social-icon {
  width: 20px;
  height: 20px;
}

/* ____________________________________Gallery__________________________________ */

.gallery {
  background-color: var(--background-white);
}
/* .gallery-title {
} */
.gallery-text {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-very-dark);
  margin-bottom: 44px;
}
.gellery-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.gallery-item {
  margin-top: 30px;
  margin-left: 30px;
}
/* ____________________________________Form__________________________________ */
.contacts-box {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.record {
  flex-grow: 1;
}
.record-title {
  font-family: var(--font-decor);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-white);
}
.send-button {
  color: var(--text-button-white);
}
/* ____________________________________Contacts__________________________________ */
.connect {
  width: 1280px;
  height: 644px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-dark-grey);
  outline: 1px solid red;
  background-image: url(../images/background-contacts.png);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}
.contacts {
  width: 625px;
  padding-top: 130px;
  padding-left: 100px;
}

.address {
  font-style: normal;
  text-decoration: none;
  margin-bottom: 70px;
}

.contacts-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-white);
  margin-bottom: 40px;
}
/* .contacts-list {
} */

.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  fill: var(--text-grey);
  stroke: var(--text-grey);
}

.contacts-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--text-grey);
  margin-bottom: var(--margin);
}
.contacts-link {
  color: var(--text-grey);
}
.contacts-item:hover .contacts-link,
.contacts-item:focus .contacts-link {
  color: var(--text-white);
}

.contacts-item:hover .contact-icon {
  fill: var(--background-white);
  stroke: var(--background-white);
}
.schedule-title {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-white);
  margin-bottom: var(--margin);
}
.schedule-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}
/* ____________________________________Footer__________________________________ */
footer {
  background-color: var(--background-grey);
}
.copyrightr {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--text-grey);
}
/* .social-list {
} */
/* .social-link {
} */
