// .header-page {
// }

.menu {
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 10px;
    // margin-bottom: 145px;
    background-color: gray;
}

.auth {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav {
    display: flex;

} 
.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}

.nav-item {
    padding: 48px 0px;
}

.logo {
    margin-top: 30px;
    margin-right: 70px;
}

.nav-link {
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    color: var(--text-white);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent);
}

.phone {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--text-white);
    margin-right: 40px;
}

.phone:hover,
.phone:focus {
    color: var(--accent);
}

.record-button {
    color: var(--background-white);
}
